.book-a-demo,
.frame-parent {
  display: flex;
  align-items: flex-end;
}
.frame-parent {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.book-a-demo {
  width: 120px;
  position: relative;
  justify-content: center;
  min-width: 120px;
}
.vector-icon,
.vector-icon1 {
  height: 0;
  width: 18px;
  position: relative;
}
.vector-icon1 {
  height: 14px;
  width: 7px;
  margin-left: -5px;
}
.arrow {
  width: 1px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.shape-container,
.simple-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.simple-button {
  width: 180px;
  border-radius: var(--br-3xs);
  background-color: var(--white);
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.22);
  border: 2px solid var(--primary-100);
  box-sizing: border-box;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-9xl);
  gap: var(--gap-base);
}
.shape-container {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-37xl);
}
.optimize-your-hiring {
  margin: 0;
  align-self: stretch;
  height: 118px;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  align-items: center;
}
.discover-the-strengths {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--font-poppins);
  color: var(--color-gray-300);
}
.data-splinter {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.request-your-free {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.cta-button,
.position-swapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.cta-button {
  border-radius: var(--br-xl);
  background-color: var(--primary-100);
  box-shadow: 0 8px 18px rgba(174, 93, 255, 0.46);
  flex-direction: row;
  padding: var(--padding-2xl) var(--padding-37xl);
  box-sizing: border-box;
  white-space: nowrap;
  font-size: var(--font-size-5xl);
  color: var(--color-snow);
  font-family: var(--font-poppins);
}
.position-swapper {
  width: 1175px;
  flex-direction: column;
  gap: 60px;
}
.for-employers,
.size-modifier {
  display: flex;
  box-sizing: border-box;
  color: var(--primary-100);
}
.size-modifier {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-16xl) 0 var(--padding-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-23xl);
  font-family: var(--font-garnett-semibold);
}
.for-employers {
  width: 100%;
  position: relative;
  background-color: #fdfdfd;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 1360px;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-lg);
  font-family: var(--font-poppins);
}


.book-a-demo,
.frame-parent {
  display: flex;
  align-items: flex-end;
}

@media screen and (max-width: 768px) {
  .book-a-demo {
    
    width: 100px;
  }

 
}

@media screen and (max-width: 480px) {
  .frame-parent {
    
    width: 90%;
    margin: 0 auto;
  }

}
