.hiring-platform-for {
  font-family: var(--font-garnett-regular);
}
.how-rework-ai-container {
  margin: 0;
  align-self: stretch;
  height: 212px;
  position: relative;
  font-size: inherit;
  display: inline-block;
  font-family: inherit;
}
.transformer-plus {
  width: 391px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-19xl);
  font-family: var(--font-garnett-medium);
}
.popover {
  position: relative;
  display: inline-block;
  min-width: 101px;
}
.finalizer-plus {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-51xl) 0 var(--padding-51xl-2);
}
.reduction-in-your {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--font-poppins);
  color: var(--color-darkslategray);
  text-align: center;
}
.output-combiner-plus {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  min-width: 157px;
}
.tabbed-panel {
  height: 184px;
  width: 2px;
  position: relative;
  border-right: 2px solid var(--primary-100);
  box-sizing: border-box;
}
.collector-plus,
.thumbnail-generator {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.collector-plus {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-mid-4);
}
.thumbnail-generator {
  width: 538.7px;
  flex-direction: column;
  padding: var(--padding-3xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.k1 {
  position: relative;
  display: inline-block;
  min-width: 84px;
}
.monitor-plus,
.regulator-plus {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.monitor-plus {
  flex-direction: row;
  padding: 0 var(--padding-60xl) 0 var(--padding-59xl-6);
}
.regulator-plus {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-3xs);
}
.calendar-picker,
.rating-system,
.throttler-plus {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.throttler-plus {
  width: 241.3px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-3xl) 0 0;
}
.calendar-picker,
.rating-system {
  flex-direction: row;
  max-width: 100%;
}
.rating-system {
  flex: 1;
  background-color: var(--white);
  overflow: hidden;
  justify-content: center;
  padding: var(--padding-76xl) var(--padding-xl) var(--padding-76xl)
    var(--padding-2xl);
  gap: var(--gap-base);
}
.calendar-picker {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 var(--padding-12xs) var(--padding-58xl);
  text-align: left;
  font-size: var(--font-size-31xl);
  color: var(--primary-100);
  font-family: var(--font-space-grotesk);
}


@media screen and (max-width: 700px) {
  .rating-system {
    flex-direction: column; 
  }
}

