
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.list-item-parent{
  display: flex;
  flex-wrap: wrap;
}
.logo-inner,
.rectangle-div {
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  bottom: 0;
 
}
.logo-inner {
  width: 96.8px;
  right: -0.3px;
  border-radius: 0 5.71px 0 0;
  background-color: var(--primary-100);
}
.rectangle-div {
  width: 117.8px;
  left: 0;
  border-radius: 5.71px;
  border: 1.4px solid var(--primary-100);
  box-sizing: border-box;
  z-index: 1;
}
.r1 {
  letter-spacing: -0.02em;
}
.e1 {
  letter-spacing: 0.08em;
}
.re1 {
  font-weight: 600;
}
.work1 {
  letter-spacing: -0.02em;
  font-family: var(--font-actor);
  color: var(--color-white);
}
.ai1,
.rework1 {
  position: relative;
  display: inline-block;
}
.rework1 {
  height: 24px;
  min-width: 107.10000000000002px;
  white-space: nowrap;
  z-index: 2;
}
.ai1 {
  height: 8px;
  min-width: 10px;
  z-index: 1;
}
.ai-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) 0 0;
  font-size: var(--font-size-xs-4);
  color: var(--color-white);
  font-family: var(--font-gilroy-regular);
}
.logo1,
.talent-finder {
  position: relative;
  display: flex;
}
.logo1 {
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-6xs) var(--padding-5xs)
    var(--padding-5xs-8);
  gap: var(--gap-5xs-1);
}
.talent-finder {
  width: 103px;
  align-items: center;
  justify-content: center;
  min-width: 103px;
  white-space: nowrap;
}
.for-employers1,
.for-recruiters {
  position: relative;
  display: inline-block;
  white-space: nowrap;
}
.for-recruiters {
  flex: 1;
  min-width: 109px;
}
.for-employers1 {
  align-self: stretch;
  font-weight: 600;
  min-width: 115px;
}
.branch-length-icon {
  height: 3px;
  width: 37px;
  position: relative;
}
.branching-factor,
.leaf-count {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.leaf-count {
  flex-direction: row;
  padding: 0 var(--padding-20xl);
}
.branching-factor {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-12xs);
  color: var(--primary-100);
}
.about-us,
.company {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-us {
  width: 72px;
  min-width: 72px;
  white-space: nowrap;
}
.company {
  width: 80px;
  min-width: 80px;
}
.input-field,
.nav-items,
.shape {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: "Poppins", sans-serif;
}
.nav-items {
  align-self: stretch;
  height: 24px;
  /* background-color: var(--color-white); */
  flex-direction: row;
  padding: 0;
  box-sizing: border-box;
  gap: var(--gap-13xl);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: "Poppins", sans-serif;
}

.input-field,
.shape {
  max-width: 100%;
 
}
.shape {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
  font-family: var(--font-poppins);
  display: flex;
  flex-wrap: wrap;
}
.input-field {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-17xl);
  text-align: left;
  font-size: var(--font-size-16xl-5);
  color: var(--primary-100);
  font-family: var(--font-outfit);
}
.binary-tree,
.frame-child {
  position: absolute;
  top: 0;
  height: 100%;
}
.binary-tree {
  bottom: 0;
  left: 174px;
  border-radius: 50%;
  background-color: var(--color-whitesmoke-100);
  width: 596px;
}
.frame-child {
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--primary-100);
  width: 100%;
  display: none;
}
.k {
  margin: 0;
}
.candidates-hired {
  margin: 0;
  font-size: var(--font-size-smi-3);
  font-family: var(--font-garnett-light);
}
.k-candidates-hired-container {
  position: absolute;
  top: 22px;
  left: 92px;
  z-index: 1;
}
.grid-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--primary-300);
  width: 100%;
  height: 100%;
  display: none;
}
.radix-trie-icon {
  position: absolute;
  top: 18px;
  left: 18px;
  width: 28px;
  height: 30px;
  z-index: 2;
}
.grid,
.rectangle-parent {
  position: absolute;
  border-radius: var(--br-8xs);
}
.grid {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--primary-300);
  top: 15px;
  left: 16px;
  width: 64px;
  height: 64px;
  z-index: 1;
}
.rectangle-parent {
  top: 358px;
  left: 0;
  background-color: var(--primary-100);
  width: 219px;
  height: 94px;
}
.red-black-tree {
  position: absolute;
  top: 145px;
  left: 175px;
  border-radius: 0 0 0 var(--br-96xl);
  width: 567px;
  height: 402px;
  object-fit: contain;
  z-index: 4;
}
.mask-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 555px;
  overflow: hidden;
  z-index: 1;
}
.row-layout {
  height: 596px;
  width: 744px;
  position: absolute;
  margin: 0 !important;
  right: -635px;
  bottom: -370px;
}
.with-rework {
  margin: 0;
  font-size: var(--font-size-29xl);
  font-family: var(--font-garnett-regular);
  font-weight: 400;
}
.power-up-your-container {
  height: 141px;
  flex: 1;
  position: relative;
  color: var(--primary-100);
  display: inline-block;
  max-width: 100%;
  z-index: 5;
  font-size: var(--font-size-35xl);
  font-family: var(--font-garnett-semibold);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.column-layout {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  max-width: 100%;
  font-family: var(--font-space-grotesk);
}
.empower-your-business {
  flex: 1;
  position: relative;
  line-height: 22px;
  display: inline-block;
  max-width: 100%;
  z-index: 5;
}
.quote {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-7xl);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-sm);
  color: var(--black);
}
.book-a-demo1 {
  position: relative;
  line-height: 28px;
}
.cta-button1 {
  border-radius: var(--br-xl);
  background-color: var(--primary-100);
  box-shadow: 0 8px 18px rgba(174, 93, 255, 0.46);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xl) var(--padding-37xl);
  white-space: nowrap;
}
.group-icon {
  height: 20px;
  width: 20px;
}
.group-icon,
.no-credit-required {
  position: relative;
}
.bidirectional-heap,
.bidirectional-heap1 {
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
  gap: var(--gap-3xs);
}
.bidirectional-heap1 {
  align-self: stretch;
}
.callout {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xs);
}
.callout,
.table,
.tooltip {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.tooltip {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-6xs) 0 var(--padding-12xs);
  font-size: var(--font-size-sm);
  color: var(--primary-100);
}
.table {
  width: 271px;
  flex-direction: column;
  gap: var(--gap-8xl);
  font-size: var(--font-size-5xl);
  color: var(--white);
}
.column-layout-parent {
  width: 685px;
  gap: var(--gap-3xs);
}
.column-layout-parent,
.container,
.dropdown {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.dropdown {
  align-self: stretch;
  gap: var(--gap-87xl);
}
.container {
  flex: 1;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
}
.log-in {
  width: 53px;
  position: relative;
  font-weight: 500;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  min-width: 53px;
  white-space: nowrap;
}
.vector-icon2,
.vector-icon3 {
  height: 0;
  width: 18px;
  position: relative;
}
.vector-icon3 {
  height: 14px;
  width: 7px;
  margin-left: -5px;
}
.arrow1 {
  width: 1px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button-link,
.simple-button1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.simple-button1 {
  width: 129px;
  border-radius: var(--br-3xs);
  border: 2px solid var(--primary-100);
  box-sizing: border-box;
  padding: var(--padding-4xs-5) var(--padding-17xl);
  gap: var(--gap-base);
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--primary-100);
}
.button-link {
  align-self: stretch;
  gap: var(--gap-101xl);
  max-width: 100%;
}
.frame-item,
.r-tree-child {
  height: 94px;
  width: 219px;
  position: relative;
  border-radius: var(--br-8xs);
  background-color: var(--primary-100);
  display: none;
}
.r-tree-child {
  height: 64px;
  width: 64px;
  background-color: var(--primary-300);
}
.quadrant-icon {
  height: 28.3px;
  width: 28.3px;
  position: relative;
  z-index: 2;
}
.r-tree {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lg) var(--padding-mid-7) var(--padding-mid-7)
    var(--padding-lg);
  background-color: var(--primary-300);
  border-radius: var(--br-8xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.happy-companies {
  position: relative;
  z-index: 1;
}
.leaf-quadrant {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
}
.path,
.rectangle-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.rectangle-group {
  border-radius: var(--br-8xs);
  background-color: var(--primary-100);
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-sm) var(--padding-mini)
    var(--padding-base);
  gap: var(--gap-mini);
  z-index: 5;
}
.path {
  justify-content: flex-end;
  padding: 0 var(--padding-61xl);
  box-sizing: border-box;
  max-width: 100%;
  font-family: var(--font-space-grotesk);
}
.get-started,
.list-item {
  display: flex;
  align-items: flex-end;
}
.list-item {
  width: 1031px;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.get-started {
  width: 104px;
  position: relative;
  font-weight: 500;
  justify-content: center;
  min-width: 104px;
  white-space: nowrap;
}
.simple-button2 {
  border-radius: var(--br-3xs);
  background-color: var(--primary-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs-5) var(--padding-5xl);
  gap: var(--gap-base);
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.frame-inner {
  height: 41px;
  width: 140px;
  position: relative;
  display: none;
}
.list-item-parent {
  align-self: stretch;
  background-color: var(--white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-15xl) var(--padding-xl) var(--padding-19xl);
  box-sizing: border-box;
  gap: var(--gap-mid);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-5xl-9);
  color: var(--primary-300);
  font-family: var(--font-poppins);
}


 



@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
  .nav-items {
    flex-direction: column;
    line-height:0.2;
  }
  .power-up-your-container,
  .empower-your-business{
     line-height: 1;
     padding-top: 20px;
  }
  .simple-button1{
    position: relative;
    left: -60%;
  }
  .simple-button2{
   position: absolute;
   left: 60%;
   top:100px;
   
  }
}



