.final-merger-hub {
  height: 25px;
  width: 25px;
  position: absolute;
  margin: 0 !important;
  top: 105px;
  left: 505px;
}
.operates {
  font-family: var(--font-garnett-regular);
}
.how-our-system-container {
  margin: 0;
  width: 658px;
  position: relative;
  font-size: inherit;
  line-height: 50px;
  text-transform: capitalize;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  font-family: inherit;
}
.advanced-condition {
  width: 1198px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
}
.follow-the-link,
.sign-up {
  width: 339.3px;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.sign-up {
  line-height: 28px;
  white-space: nowrap;
  
}
.follow-the-link {
  height: 100px;
  font-size: var(--font-size-lg);
  font-family: var(--font-poppins);
  color: var(--color-dimgray-100);
  flex-shrink: 0;
}
.mingcuteuser-add-line-icon {
  width: 84px;
  height: 84px;
  position: absolute;
  margin: 0 !important;
  right: -0.4px;
  bottom: 0;
  border-radius: var(--br-3xs) 0 0 0;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.nested-comparison-tree,
.steps2 {
  display: flex;
  align-items: center;
  max-width: 100%;
}
.steps2 {
  flex: 1;
  background-color: var(--primary-300);
  flex-direction: column;
  justify-content: space-between;
  padding: var(--padding-11xl) 0 0 var(--padding-11xl);
  box-sizing: border-box;
  position: relative;
  min-width: 299px;
  min-height: 282px;
  color: var(--black);
  font-family: var(--font-garnett-semibold);
}
.nested-comparison-tree {
  align-self: stretch;
  border-radius: var(--br-5xs);
  overflow: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 20px;
}
.get-started1 {
  width: 104px;
  position: relative;
  font-weight: 500;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  min-width: 104px;
  white-space: nowrap;
}
.vector-icon10,
.vector-icon9 {
  height: 0;
  width: 18px;
  position: relative;
}
.vector-icon10 {
  height: 14px;
  width: 7px;
  margin-left: -5px;
}
.arrow3 {
  width: 1px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.advanced-comparators,
.simple-button3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.simple-button3 {
  width: 164px;
  border-radius: var(--br-3xs);
  background-color: var(--white);
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.22);
  border: 2px solid var(--primary-100);
  box-sizing: border-box;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-9xl);
  gap: var(--gap-base);
}
.advanced-comparators {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl);
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--primary-100);
}
.comparators-chain,
.steps1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.comparators-chain {
  width: 1198px;
  align-items: flex-start;
  gap: var(--gap-70xl);
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.steps1 {
  flex: 1;
  background-color: var(--white);
  overflow: hidden;
  align-items: center;
  padding: var(--padding-76xl) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-95xl);
  z-index: 1;
}
.multi-output-processor,
.nested-decision-tree {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.multi-output-processor {
  flex: 1;
  position: relative;
}
.nested-decision-tree {
  align-self: stretch;
  padding: 0 0 var(--padding-48xl) var(--padding-11xs);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-19xl);
  color: var(--primary-100);
  font-family: var(--font-garnett-semibold);
}
