.div {
  align-self: stretch;
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 11px;
}
.data-fusion-tree {
  width: 11px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs-5) 0 0;
  box-sizing: border-box;
}
.month {
  height: 32px;
  flex: 1;
  position: relative;
  font-family: var(--font-garnett-medium);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 49px;
}
.audio-clusterer,
.sorting-station {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.sorting-station {
  flex: 1;
  gap: var(--gap-8xs);
}
.audio-clusterer {
  align-self: stretch;
  padding: 0 var(--padding-48xl);
}
.div1 {
  height: 56px;
  width: 26px;
  font-weight: 500;
  font-family: var(--font-space-grotesk);
  flex-shrink: 0;
  min-width: 26px;
}
.div1,
.div2,
.month1 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div2 {
  height: 56px;
  flex: 1;
  min-width: 90px;
}
.month1 {
  height: 38px;
  width: 61px;
  font-size: var(--font-size-base);
  flex-shrink: 0;
}
.connection-analyzer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  row-gap: 20px;
  font-size: var(--font-size-21xl);
  color: var(--color-gray-300);
  font-family: var(--font-garnett-medium);
}
.image-clusterer,
.image-clusterer-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.image-clusterer {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-base);
}
.image-clusterer-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-17xl) 0 var(--padding-16xl);
  font-size: var(--font-size-4xl);
}
.suitable-for-companies {
  align-self: stretch;
  position: relative;
  line-height: 28px;
}
.icons {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.interview-ready-candidates {
  flex: 1;
  position: relative;
}
.shape-sorter {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-3xs);
}
.icons2 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.assistance-with-interview,
.receive-pre-vetted-profiles {
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: 170px;
}
.assistance-with-interview {
  min-width: 159px;
}
.audio-filter,
.connection-optimizer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.connection-optimizer {
  align-self: stretch;
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-dimgray-100);
  font-family: var(--font-poppins);
}
.audio-filter {
  flex: 1;
  gap: var(--gap-xl);
}
.audio-filter-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-lgi);
  font-family: var(--font-garnett-medium);
}
.get-started2 {
  width: 103px;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  min-width: 103px;
  white-space: nowrap;
}
.vector-icon11,
.vector-icon12 {
  height: 0;
  width: 18px;
  position: relative;
}
.vector-icon12 {
  height: 14px;
  width: 7px;
  margin-left: -5px;
}
.arrow4,
.simple-button4 {
  flex-direction: row;
  justify-content: center;
}
.arrow4 {
  width: 1px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  align-items: center;
}
.simple-button4 {
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--primary-100);
  box-shadow: 0 20px 40px rgba(92, 39, 192, 0.35);
  display: flex;
  align-items: flex-start;
  padding: var(--padding-base) var(--padding-xl);
  gap: var(--gap-base);
}
.shape-collector,
.simple-button-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.simple-button-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-12xs);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
.shape-collector {
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--white);
  box-shadow: 0 20px 40px rgba(118, 118, 118, 0.35);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-15xl) var(--padding-15xl) var(--padding-11xl)
    var(--padding-16xl);
  box-sizing: border-box;
  gap: var(--gap-27xl);
  min-width: 274px;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--primary-100);
  font-family: var(--font-space-grotesk);
}
